/*Page Defaults*/

* {
	color: #777777;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html {
	height: 100%;
	margin: 0;
}

/*Body Specs*/

body {
	background-color: #4aaaaf;
	height: 100%;
	width: 100%;
	margin: 0;
}

.contentWrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/*Page Header*/

header {
	margin: auto;
	font-weight: bold;
	background-color: #ffffff;
	position: relative;
	width: 100%;
	min-height: 10%;
}

.mainHeaderStyle{
	border-bottom: 2px;
	border-style: solid;
	border-color: #cccccc;
}

div.namePlate {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	line-height: 90px;  
	font-family: 'Georgia', Times, serif;
	background-color: #4aaaa5;
	font-size: 150%;
	padding: 0 20px;
}

ul.siteLegend {
	font-size: 110%;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	left: auto;
	text-align: center;
	line-height: 90px;
}

a {
	text-decoration: none;
}

li {
	display: inline-block;
}

/*Main Section*/

main {
	position: relative;
	height: auto;
	/*min-height: 75%;*/
	margin: 0 auto;
	padding: 10px;
	background-image: url(../images/concrete-texture.png);
	/*display: block;*/
	overflow: hidden;
}

section.mainContent {
	width: 650px;
	background-color: #ffffff;
	display: inline-block;
	border: 1px;
	border-style: solid;
	border-color: #e3e3e3;
	position: absolute;
	left: 0;
}

header.mainContentHeader {
	height: 50px;
	color: #4aaaa5;
	font-size: 300%;
	border-bottom: 5px;
	border-style: solid;
	border-color: #dddddd;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 50px;
}

/*Side Bar*/

aside.connectWithMe {
	display: inline-block;
	position: absolute;
	left: auto;
	right: 10px;
	width: 270px;
	font-weight: bold;
	background-color: #ffffff;
	border: 1px;
	border-style: solid;
	border-color: #e3e3e3;
}

.asideHeader {
	font-size: 190%;
	border-bottom: 5px;
	border-style: solid;
	border-color: #dddddd;
	font-weight: bold;
	color: #4aaaaf;
	line-height: 50px;
	height: 50px;
}

.connectOptions {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

ul.connectOptions li a img {
	width: 60px;
	height: 60px;
}

/*Footer*/

footer {
	background-color: #666666;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	line-height: 125px;
	min-height: 10%;
}

.footerWords {
	color: #ffffff;	
}

/*Contact HTML Page*/

.nameSpot {
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
}

.messageBox {
	height: 200px;
}

.inputPar {
	width: 100%;
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
}

/*Index HTML Page*/

.profilePic {
	border-radius: 50%;
	float: left;
	margin: 10px;
}

.bioText {
	line-height: 2;
	margin: 5px;
}

/*Portfolio HTML Page*/

.portfolioOptions {/*
	display: flex;
	justify-content: space-between;
	list-style-type: none;*/
}

.portfolioOptions li a img {
	width: 275px;
	height: 275px;
}